* {
    box-sizing: border-box
}
body {
    border: 1px solid blue;
    margin: 0em auto;
    padding: 0em;
    max-width: 60em; /* = 960px x 1080px fartölvuskjár */
    font-family: 'Titillium Web', sans-serif;
}
/*--  Grid Area --*/
.container {
    display: grid;
}
.haus {
    grid-area: haus;
    text-align: center;
    background-color: darkred;
}
.topnav {
    grid-area: topnav;
}
.content {
    grid-area: content;
}
.foot {
    grid-area: foot;
    }
/*-- dálkar í main --*/
.as1 {
    grid-area: as1;
    padding-left: 1em;
    padding-right: 1em;
    background-color: lightcoral;
}
.as2 {
    grid-area: as2;
    padding-left: 1em;
    padding-right: 1em;
    background-color: lightcoral;
}
.art1 {
    grid-area: art1;
    padding-left: 1em;
    padding-right: 1em;
    background-color: lightcoral;
}
/*-- Grid Template Area --*/
.container {
    display: grid;
    grid-template-areas: 
    "haus"
    "topnav"
    "content"
    "foot"
}
.content {
    display: grid; /* grid virkar á barn (child) en ekki barnabarn (grandchild) */
    grid-gap: 0em;
    padding: 0em ;
    grid-template-areas: 
    " art1 art1"
    " as1  as2 ";
    grid-template-columns: 1fr 1fr;
}
/*-- Top menu */
.topmenu {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding-left: 2em 0;
    padding: 2em;
    background-color: darkred;
    font-family: monospace;
    font-size: 2em;
}
.topmenu li {
    list-style-type: none;
}
.footmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding-left: 0em;
    padding: 1em;
    background-color: darkred;
}
.footmenu li {
    list-style-type: none;
}
.haus, .topnav, .content, .art1, .as1, .art2, .as2, .foot {
    border: solid darkred;
    
}
h1 {
    font-family: 'Arvo', serif;
    font-size: 3em;
    color: gold;
}
.blockquote {
    border: solid darkred;
    align-content: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
h2 {
    font-size: 2em;
    color: gold;
}
h3 {
    font-size: 2em;
    color: gold;
}
.button {
    background: 2em gold;
    color: gold;
}
.button:hover {
    border-top-color: goldenrod;
    background: goldenrod;
    color:goldenrod;
}
.button:active {
    border-top-color: gold;
    background: gold;
    border: 2px;
}
a {
    color: black;
}
a:hover {
    color: gold;
}
.virkur {
    color: red;
}
