* {
    box-sizing: border-box
}
body {
    margin: 0em auto;
    padding: 0em;
    max-width: 60em; /* = 960px x 1080px fartölvuskjár */
}
/*--  Grid Area --*/
.container {
    grid-area: container;
}
.haus {
    grid-area: haus;
    padding-left:16em;
}
.topnav {
    grid-area: topnav;
}
.content {
    grid-area: content;
}
.foot {
    grid-area: foot;
    }
/*-- dálkar í main --*/
.as1 {
    grid-area: as1;
    padding-left: 1em;
    padding-right: 1em;
}
.as2 {
    grid-area: as2;
    padding-left: 1em;
    padding-right: 1em;
}
.art1 {
    grid-area: art1;
    padding-left: 1em;
    padding-right: 1em;
}
/*-- Grid Template Area --*/
.container {
    display: grid;
    grid-template-areas: 
    "topnav"
    "haus"
    "content"
    "foot"
}
.content {
    display: grid; /* grid virkar á barn (child) en ekki barnabarn (grandchild) */
    grid-gap: 0em;
    padding: 0em ;
    grid-template-areas: 
    "as1 art1 as2";
    grid-template-columns: 1fr 3fr 1fr;
}
/*-- Top menu */
.topmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding-left: 2em 0;
    padding: 2em;

}
.topmenu li {
    list-style-type: none;
}
.footmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding-left: 0em;
    padding: 2em
}
.footmenu li {
    list-style-type: none;
}
.haus, .topnav, .content, .art1, .as1, .art2, .as2, .foot {
    border: solid gray;
    
}
h1 {
    font-style: italic;
    font-size: 3em;
}
.blockquote {
    border: solid gray;
    align-content: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.virkur {
    color:black;
}