* { box-sizing: border-box }

html {
    scroll-behavior: smooth;
}

body {
    margin: 0; /* tek út sjálgefið 10px margin */
    /* font-family: ;*/
    font: 400 1em/1.5 'Lato',sans-serif; /* samsett skipun: weight/height, size, family */
    background-color: blue;
}
h1 {
    font-weight: 300;
    font-size: 2.5em;
}
blockquote {
    background-color: rgba(255,255,255, .3);
    padding: 1em;
}
.headcolor,.footcolor {
    color: #fff;
}
.container {
    max-width: 60em; /*960px = fartölvur*/
    margin: 0 auto; /* top+bottom og left+right */
    padding: 0;
}
/* grid */
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gap-4 {
    grid-gap: 4em
}
.bground {
    background: linear-gradient(to bottom, rgb(240, 202, 152),lightblue,lightgreen) ;
    padding: 1em;
}
.footnav a {
    color: black;
    text-decoration: none;
}
.footnav {    
    padding: 0; 
    color: black;   
}
.footnav li {
    list-style-type: none;
    line-height: 2;
}
.topnav a {
    padding-left: 2em;
    color:white;
}
.headcolor h1 {
    margin: 2em 0 1em 0;
}
.topnav {
    margin-top: 4em;
}
.headcolor p {
    text-align: right;
}
.innermenu {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.innermenu a {
    background-color: darkblue;
    text-decoration: none;
    color: rgb(240, 202, 152);
    padding: .5em 1em;
    border-right: 1px solid white ;
}
.innermenu a:hover,
.innermenu a:active {
    background-color: rgb(240, 202, 152);
    color: darkblue;
}
.innermenu a:last-child {
    border: 0;
}
.marginb {
    margin: .5em 0 -1em 0;
}
.topbutt {
    display: block;
    position: fixed;
    bottom: 2em;
    right: 2em;
    border-radius: 100%;
    padding: 0 .4em;
    text-decoration: none;
    font-size: 2em;
    color: #1818af;
    border: 2px solid #1818af;
    background-color: rgb(240, 202, 152);
}
.copy {
    color: gray;
    text-align: center;
}
.bground2 {
    background: linear-gradient(to bottom, lightblue,lightblue) ;
    padding: 1em;
}
.bgroundFoot {
    background: linear-gradient(to bottom, lightgreen,lightblue) ;
    padding: 1em;
}
.bgroundFoot2 {
    background: linear-gradient(to bottom, lightblue,blue) ;
    padding: 1em;
}
h4 {
    color: black;
}
dl {
    color: black;
}
.vheight {
    height: 100vh;    
}