html {
    scroll-behavior: smooth;
}
 
body {font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    width: 800px;
    }
    h1 {text-align:center;
        color: tomato}
    strong {color: lightsalmon}
    h2 {color: goldenrod}
    p {color: purple}
    ul {color: darkgreen}
    sub {color: darkred}
    sup {color: darkred}
    em  {color: navy}
