{% extends "base.html" %}
{% block title %} Json lókal fréttir {% endblock %}
{% block content %}

        <main class="row">
            <section>
                <h1>Json hleður inn <i>'local'</i> fréttum</h1>
                <img src="/static/mynd0.jpg">
            </section>
            <section>
                <h3>Fréttir Dagsins með JSON</h3>
                <ul>
                    {% for item in frjettir['frjettir'] %}
                    <li><h3><a href="/frjett/{{ item.id }}">{{ item.titill }}</a></h3></li>
                    {% endfor %}
                    <li><h3><a href="/boba">óvirk síða</a></h3></li>
                </ul>
            </section>
        </main>

{% endblock %}